<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/pl.prov-test-project/seleniumTests">
        <classes>
            <class name="suite.AddItemsTest">
                <methods>
                    <include name="openUrl"/>
                    <include name="addItemsToBasket"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
